<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Travel_Insurance</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ContactAdd</display-name>
    <servlet-name>ContactAdd</servlet-name>
    <servlet-class>com.cts.controller.ContactAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactAdd</servlet-name>
    <url-pattern>/ContactAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationAdd</display-name>
    <servlet-name>RegistrationAdd</servlet-name>
    <servlet-class>com.cts.controller.RegistrationAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationAdd</servlet-name>
    <url-pattern>/RegistrationAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClaimServlet</display-name>
    <servlet-name>ClaimServlet</servlet-name>
    <servlet-class>com.cts.controller.ClaimServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaimServlet</servlet-name>
    <url-pattern>/ClaimServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControllerServlet</display-name>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>com.cts.controller.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.cts.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.cts.controller.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutController</display-name>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>com.cts.controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/AdminLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.cts.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogOut</display-name>
    <servlet-name>UserLogOut</servlet-name>
    <servlet-class>com.cts.controller.UserLogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogOut</servlet-name>
    <url-pattern>/UserLogOut</url-pattern>
  </servlet-mapping>
</web-app>